#wrapper{
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 30px;
    margin-top: 5em;
    max-width: 600px;
    margin-bottom: 5em;
  }

  .low-usage {
    background-color: green;
  }

  .medium-usage {
    background-color: orange;
  }

  .high-usage {
    background-color: red;
  }